* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --moles-wid: clamp(8rem, 10vw, 22rem);
  --moles-hei: clamp(10rem, 10vh, 16rem);

  font-size: 62.5%;
}
.hide {
  display: none;
}
.page {
  background: url("./src/assets/fundo.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: clamp(1rem, 1vw, 3rem);

  min-width: 20rem;
}

div.moles-hole {
  background: url("./src/assets/toupeira6.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

  height: var(--moles-hei);
  width: var(--moles-wid);

  cursor: pointer;
}
div.moles-hole.animated {
  animation: moles-appear 1s ease-in;
}
div.moles-hole.catched {
  background: url("./src/assets/toupeira3.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

  height: var(--moles-hei);
  width: var(--moles-wid);
}

button {
  padding: 1.5rem;
  background-color: rgb(85, 65, 10);
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: white;

  position: absolute;
  top: 2rem;
  left: 2rem;

  text-transform: uppercase;
  transition: all 0.4s;

  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
@keyframes moles-appear {
  0% {
    background: url("./src/assets/toupeira1.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
  16% {
    background: url("./src/assets/toupeira2.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
  32% {
    background: url("./src/assets/toupeira3.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
  50% {
    background: url("./src/assets/toupeira4.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
  75% {
    background: url("./src/assets/toupeira5.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
  100% {
    background: url("./src/assets/toupeira6.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    height: var(--moles-hei);
    width: var(--moles-wid);
  }
}
